.container{
  background-color: aliceblue;
}
ul li{
  padding-left:10px;
  padding-right:10px;
  box-shadow: 5px -3px 5px grey;
  border: 1px solid grey;
  border-radius:15px;
  background-color: white;
  
}
div.navbar{
  position: sticky;
  top:0px;
  z-index:999
}
li.unstyled{
  box-shadow: none;
  border: none;
  background-color:rgb(32, 31, 31);
  border-radius:1px;
}
img{
  border-radius: 10px;
}
/* .active{
  background-color: rgb(8, 211, 52);
  color:black;
} */
h1{
  font-size: 80px;
  text-align: center;
  font-family: 'Abril Fatface', monospace;
}
.mr{
  position:relative;
  left:5%
}
