{% extends 'base.html'%}
{% import 'macro.html' as macro%}
{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css') }}" type='text/css'>
{% endblock %} 
{% block content %}
  <div class="container">
    <div class="row">
      <h3 class="mr"> Found {{ related| count }} matches </h3>
      <hr>
        <form class='form-group form-inline mr'>
          <input type="text" name='news_search' placeholder="Search for news" class='form-control'>
          <input type="submit" value='Search More' class='btn btn-success'>
        </form>
      <ul>
        {{ macro.liveNews(related)}}  
      </ul>
    </div>
  </div>
{% endblock %}