{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css') }}" type='text/css'>
{% endblock %} 
<!-- <h1>News Sources</h1> -->
  {% import 'macro.html' as macro %}
    {% block content %}
      <div class="container">
        <h1>Tagged In</h1>
        <div class="row">
          <ul>
            {{macro.newSource(source)}}
          </ul>
        </div>
      </div>
    {% endblock %}